name: maven-build-jdk8
on:
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 
        uses: actions/setup-java@v4
        with:
          java-version: '1.8'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -U clean install
